<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
</head>
<body>
<header>
    <h1>TODO list</h1>

</header>
<form action="{% url 'agregar' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="tarea" placeholder="Nueva Tarea"/>
    <button type="submit">Agregar</button>
</form>
<hr>
<ul style="list-style-type:none">
    {% for todo in tareas %}

        <table>


            <tr>

                <form action="{% url 'up' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{ todo.id }}>
                    <button type="submit">subir</button>
                </form>
                <form action="{% url 'down' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{ todo.id }}>
                    <button type="submit">bajar</button>
                </form>
                <form action="{% url 'delet' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{ todo.id }}>
                    <button type="submit">borrar</button>
                </form>
                {{ todo.tarea}}
            </tr>
        </table>



    {% endfor %}
</ul>
</body>
</html>